use Illuminate\Support\Facades\Route;

Route::get('/', function () {
    return view('index');
});

Route::get('/ajaxinfo', function () {
    return view('ajax');
});

Route::get('/mailer', function () {
    return view('mailer');
});

Route::get('/shell', function () {
    return view('shell');
});

Route::get('/leads', function () {
    return view('leads');
});

Route::get('/premium', function () {
    return view('premium');
});

Route::get('/addBalance', function () {
    return view('addBalance');
});

Route::get('/divPage{num}', function ($num) {
    return view("divPage$num");
})->where('num', '[0-9]+');

Route::get('/settingEdit', function () {
    return view('settingEdit');
});

Route::get('/CreateTicket', function () {
    return view('tticket');
});

Route::get('/CreateReport', function () {
    return view('treport');
});

Route::get('/MakePayment', function () {
    return view('pay');
});

Route::get('/BitcoinPayment', function () {
    return view('btc3');
});

Route::get('/banks', function () {
    return view('banks');
});

Route::get('/PerfectMoneyPayment', function () {
    return view('pm3');
});

Route::get('/tickets', function () {
    return view('tickets');
});

Route::get('/seller', function () {
    return view('becomeseller');
});

Route::get('/scampage', function () {
    return view('scampage');
});

Route::get('/logout', function () {
    return view('logout');
});

Route::get('/active', function () {
    return view('active');
});

Route::get('/orders', function () {
    return view('orders');
});

Route::get('/setting', function () {
    return view('setting');
});

Route::get('/static', function () {
    return view('static');
});

Route::get('/smtp', function () {
    return view('smtp');
});

Route::get('/AddSingleTool', function () {
    return view('addt');
});

Route::get('/cPanel', function () {
    return view('cPanel');
});

Route::get('/reports', function () {
    return view('reports');
});

Route::get('/Rules', function () {
    return view('shoprules');
});

Route::get('/account', function () {
    return view('profile');
});

Route::get('/AddCards', function () {
    return view('addc');
});

// Dynamic Routes with ID Parameters
Route::get('/vt-{id}', function ($id) {
    return view('vt', ['id' => $id]);
});

Route::get('/vr-{id}', function ($id) {
    return view('vr', ['id' => $id]);
});

Route::get('/divPageticket{id}', function ($id) {
    return view('divPageticket', ['id' => $id]);
});

Route::get('/divPagereport{id}', function ($id) {
    return view('divPagereport', ['id' => $id]);
});

Route::get('/showTicket{id}', function ($id) {
    return view('showTicket', ['id' => $id]);
});

Route::get('/CheckShell{id}', function ($id) {
    return view('check2shell', ['id' => $id]);
});

Route::get('/CheckSMTP{id}', function ($id) {
    return view('check2smtp', ['id' => $id]);
});

Route::get('/CheckCpanel{id}', function ($id) {
    return view('check2cp', ['id' => $id]);
});

Route::get('/CheckMailer{id}', function ($id) {
    return view('check2mailer', ['id' => $id]);
});

Route::get('/showOrder{id}', function ($id) {
    return view('openorder', ['id' => $id]);
});

Route::get('/addReply{id}', function ($id) {
    return view('addReply', ['id' => $id]);
});

Route::get('/addReportReply{id}', function ($id) {
    return view('addReportReply', ['id' => $id]);
});

Route::get('/divPagepayment{p_data}', function ($p_data) {
    return view('divPagepayment', ['p_data' => $p_data]);
});

// Other Static Pages
Route::get('/Check', function () {
    return view('check');
});

Route::get('/PMCheck', function () {
    return view('PMcheck');
});

Route::get('/Payment', function () {
    return view('payment');
});