ErrorDocument 404 /JERUX/buyer/index.html
RewriteEngine on
index.html  index.php
ajaxinfo.html  ajax.php
mailer.html  mailer.php
shell.html  shell.php
leads.html  leads.php
premium.html  premium.php
addBalance.html  addBalance.php
divPage1.html  divPage1.php
divPage2.html  divPage2.php
divPage3.html  divPage3.php
divPage4.html  divPage4.php
divPage5.html  divPage5.php
divPage6.html  divPage6.php
divPage7.html  divPage7.php
divPage8.html  divPage8.php
divPage9.html  divPage9.php
divPage10.html  divPage10.php
divPage11.html  divPage11.php
divPage12.html  divPage12.php
divPage13.html  divPage13.php
divPage14.html  divPage14.php
divPage15.html  divPage15.php
divPage0.html  divPage0.php
settingEdit.html  settingEdit.php
CreateTicket.html  tticket.php
CreateReport.html  treport.php
addBalance.html  funds.php
addBalanceAction.html  addBalanceAction.php
rdp.html  rdp.php
tutorial.html  tutorial.php
MakePayment.html  pay.php
BitcoinPayment.html  btc3.php
banks.html  banks.php
PerfectMoneyPayment.html  pm3.php
tickets.html  tickets.php
seller.html  becomeseller.php
scampage.html  scampage.php
logout.html  logout.php
active.html  active.php
orders.html  orders.php
setting.html  setting.php
static.html  static.php
seller.html  rindex.php
smtp.html  smtp.php
AddSingleTool.html  addt.php
cPanel.html  cPanel.php
checkEmailChange.html  checkEmailChange.php
reports.html  reports.php
Rules.html  shoprules.php
account.html  profile.php
AddCards.html  addc.php
vt-(.*).html vt.php?id=$1
vr-(.*).html vr.php?id=$1
divPageticket(.*).html divPageticket.php?id=$1
divPagereport(.*).html divPagereport.php?id=$1
showTicket(.*).html showTicket.php?id=$1
CheckShell(.*).html check2shell.php?id=$1
CheckSMTP(.*).html check2smtp.php?id=$1
CheckCpanel(.*).html check2cp.php?id=$1
CheckMailer(.*).html check2mailer.php?id=$1
showOrder(.*).html openorder.php?id=$1
addReply(.*).html addReply.php?id=$1
addReportReply(.*).html addReportReply.php?id=$1
divPagepayment(.*).html divPagepayment.php?p_data=$1
Check.html check.php
PMCheck.html PMcheck.php
Payment.html payment.php




(.*).html - [F,L]
